<div class="col-md-12">
  <h2>Progress</h2>
  <div class="progress">
    <div class="progress-bar" role="progressbar"
      style="width: {{ value }}%"
      aria-valuenow="{{ value }}" aria-valuemin="0" aria-valuemax="100">
      <span class="sr-only">{{ value }}% added</span>
    </div>
  </div>
  <h3>Value is {{ value }}</h3>
</div>
